html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    background: #212529;
    font-size: 36px;
    color: #f8f9fa;
}

button {
    background-color: #f8f9fa;
    color: #212529
}